body {
  margin: 0;
  display: block;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: white;
  font-weight: bold;
  font-family: Verdana;
  font-size: 14px;
  color: MediumAquamarine;
  border-bottom: 1px solid black;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

nav {
  align-items: center;
  border: 1px solid black;
  display: flex;
  padding-right: 40px;
}

a {
  color: black;
  margin: 10px;
}

nav span {
  display: inline-block;
}

.container {
  display: flex;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  padding-top: 115px
  /* border: 1px solid black; */
}

.column {
  flex-direction: column;
  display: flex;
  margin-right: 32px;
}

.left {
  width: 630px;
}

.middle {
  width: 300px;
}

.right {
  width: 240px;
}

div {
  display: block;
  border: 1px solid black;
}


.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
}

.main-story .image-content {
  background-image: url("./images/Main-Story.png");
  font-size: 40px;
  height: 300px;
}

.earth {
  background-image: url("./images/Fall-Season.png");
}

.research {
  background-image: url("./images/Hipster-Cameraman.png");
}

.cats {
  background-image: url("./images/Cat-CEO.png");
}

.stories {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.stories .text {
  height: 150px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

h2 {
  display: block;
}

.news-bites {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.text {
  display: block;
}

.news {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 325px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}

.mytimes {
  display: inline-block;
  font-family: Georgia;
  font-size: 16px;
  padding-right: 25px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
}

.copyright {
  padding-top: 10px;
}
